
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<% include ./header%>
<body>
<html>
<div class="headcoll">
    <% for(let i=0;i<channels.length;i+=3){%>
    <div class="headinner1" onmouseover ="subscribeCheck(event,'<%=channels[i].id%>')" onmouseout = "init('<%= channels[i].channel_name%>')" onclick = "subscribe('<%=channels[i].id%>')"></div>
    <%}%>
</div>
<div class="middlecoll">
    <% for(let i=1;i<channels.length;i+=3){%>
        <div class="headinner1" onmouseover ="subscribeCheck(event,channels[i].id)" onmouseout = "init('<%= channels[i].id%>')"></div>
    <%}%>
</div>
<div class="rearcoll">
    <% for(let i=2;i<channels.length;i+=3){%>
        <div class="headinner1" onmouseover ="subscribeCheck(event,channels[i].id)" onmouseout = "init('<%= channels[i].id%>')"></div>
    <%}%>
</div>
<input type = 'hidden' value="구독하기" id="subvalue">
</html>
<script type="text/javascript">

        function subscribe(channel_id) {

            $.ajax({
                url : "/api/channel/subscribe",
                method: "POST",
                datatype: 'json',
                data : {
                    channel_id : channel_id
                },
                success : function(data) {

                    console.log(data)
                }
            });
        }

        function subscribeCheck(target,channel_id){
            $.ajax({
                url : "/api/channel/subscribe/check",
                method: "POST",
                datatype: 'json',
                data : {
                    channel_id : channel_id
                },
                success : function(data) {
                    console.log(data)
                    if(data.statusCode == 200)
                    {
                        $('#subvalue').val('구독하기')
                        console.log('오')
                    }else{
                        $('#subvalue').val('구독취소')
                    }
                }
            });

            event.target.innerHTML = $('#subvalue').val();
        }

        function init(str)
        {
            console.log(str);
            event.target.innerHTML = str
        }

    console.log( "ready!" );
</script>
</body>
</html>